@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IE&display=swap');
@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,900);


body {
  font-family: 'Cinzel Decorative', cursive;
  color: black;
}


/* الخطين */
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  top: 65px;
  left: 400px;
  width: 600px;
}

@theme {
  --shadow-Me: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}


@keyframes customAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }

  75% {
    transform: scale(1.5);
    opacity: 0.8;
  }

}

.element:hover {
  animation-name: customAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: both;
  .overlay {
    opacity: 1;
  }
}

/* الكلام */
.overlay {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

}
/* الموج */
.custom-shape-divider-bottom-1776260009 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1776260009 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1776260009 .shape-fill {
    fill: #FFFFFF;
}